$background-color: #FF7979;
$claim-button: #38CC8B;
$lighter-green: #77E2B3;
$try-button: #5E54A4;
$form-fill-color: #3D3B48;
$claim-button-shadow: rgba(61,59,72, .2);
$lighter-gray: #BAB7D4;
$form-border: #DEDEDE;
$white: #FFFFFF;
$font: "Poppins", sans-serif;
